header {
 position: fixed;
 width: 100%;

}

.ativaCor {
 background-color: #252525;
}

.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 0px;
}

.nav--right ul{
 display: flex;
}

.nav--right ul li {
 margin-left: 40px;
}

.nav--right ul li a {
font-size: 14px;
color: #ffffff;
font-family: Poppins, sans-serif;
font-weight: 500;

}



